/*.cfg
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

/.idea/

.ruby-gemset
.ruby-version

/spec/data/db
/spec/work

site.config.yml

/check_*
/test_*
/*.log
/data/
/spec/coverage/
/sidekiq*.*
lib/libis/ingester/server/web/app/node_modules
lib/libis/ingester/server/web/app/.idea
spec/data/mongod.log
spec/data/mongod.pid
lib/libis/ingester/server/web/app/yarn.lock
lib/libis/ingester/server/web/app/package-lock.json
lib/libis/ingester/server/web/app/yarn-error.log

/lib/libis/ingester/server/config/key.pem
/lib/libis/ingester/server/config/key.priv.pem
