systemLog:
  verbosity: 0
  logAppend: true
  logRotate: "reopen"
  destination: "file"
  timeStampFormat: "iso8601-local"
  component:
    accessControl:
      verbosity: 0
    command:
      verbosity: 0
    control:
      verbosity: 0
    geo:
      verbosity: 0
    index:
      verbosity: 0
    network:
      verbosity: 0
    query:
      verbosity: 0
    replication:
      verbosity: 0
    sharding:
      verbosity: 0
    storage:
      verbosity: 0
      journal:
        verbosity: 0
    write:
      verbosity: 0

net:
  port: 27027
  bindIp: 0.0.0.0

security:
  authorization: disabled
  javascriptEnabled: true

storage:
  journal:
    enabled: true
  directoryPerDB: true
  engine: "wiredTiger"
  wiredTiger:
    engineConfig:
      journalCompressor: "snappy"
      directoryForIndexes: true
    collectionConfig:
      blockCompressor: "snappy"
    indexConfig:
      prefixCompression: true

operationProfiling:
  mode: "slowOp"
